    .img-label
     {
      border: none;
      outline: none;
      padding-inline: 1.5rem;
      padding-block: 1rem;
      border-radius: 10px;
      background: #151313;
      font-family: sans-serif;
      color: rgb(196, 255, 208);
           border: 1px solid rebeccapurple;
           box-shadow: 3px 5px rgb(109, 91, 132);

    }